
*.ipch
.vs/Project-Jeu/v16/.suo
.vs/Project-Jeu/v16/Solution.VC.db
.vs/Project-Jeu/v16/Browse.VC.db
Client/Debug/Bouton.obj
Client/Debug/BoutonKey.obj
Client/Debug/BoutonKeyEmail.obj
Client/Debug/Client.Build.CppClean.log
Client/Debug/Client.log
Client/Debug/Client.tlog/CL.command.1.tlog
Client/Debug/Client.tlog/CL.read.1.tlog
Client/Debug/Client.tlog/CL.write.1.tlog
Client/Debug/Client.tlog/Client.lastbuildstate
Client/Debug/Client.tlog/link.command.1.tlog
Client/Debug/Client.tlog/link.read.1.tlog
Client/Debug/Client.tlog/link.write.1.tlog
Client/Debug/Client.vcxproj.FileListAbsolute.txt
Client/Debug/clientToServ.obj
Client/Debug/enchant.obj
Client/Debug/item.obj
Client/Debug/main.obj
Client/Debug/menuCompte.obj
Client/Debug/menuMain.obj
Client/Debug/perso.obj
Client/Debug/sac.obj
Client/Debug/servToClient.obj
Client/Debug/Stat.obj
Client/Debug/stuff.obj
Client/Debug/vc142.idb
Client/Debug/vc142.pdb
Debug/Client.exe
Debug/Client.ilk
Debug/Client.pdb
Debug/Serveur_Master.exe
Debug/Serveur_Master.ilk
Debug/Serveur_Master.pdb
Debug/Serveur_User.exe
Debug/Serveur_User.ilk
Debug/Serveur_User.pdb
Lib/Json/Json.hpp
Lib/SFML-2.5.1/bin/openal32.dll
Lib/SFML-2.5.1/bin/sfml-audio-2.dll
Lib/SFML-2.5.1/bin/sfml-audio-d-2.dll
Lib/SFML-2.5.1/bin/sfml-graphics-2.dll
Lib/SFML-2.5.1/bin/sfml-graphics-d-2.dll
Lib/SFML-2.5.1/bin/sfml-network-2.dll
Lib/SFML-2.5.1/bin/sfml-network-d-2.dll
Lib/SFML-2.5.1/bin/sfml-system-2.dll
Lib/SFML-2.5.1/bin/sfml-system-d-2.dll
Lib/SFML-2.5.1/bin/sfml-window-2.dll
Lib/SFML-2.5.1/bin/sfml-window-d-2.dll
Lib/SFML-2.5.1/include/SFML/Audio.hpp
Lib/SFML-2.5.1/include/SFML/Audio/AlResource.hpp
Lib/SFML-2.5.1/include/SFML/Audio/Export.hpp
Lib/SFML-2.5.1/include/SFML/Audio/InputSoundFile.hpp
Lib/SFML-2.5.1/include/SFML/Audio/Listener.hpp
Lib/SFML-2.5.1/include/SFML/Audio/Music.hpp
Lib/SFML-2.5.1/include/SFML/Audio/OutputSoundFile.hpp
Lib/SFML-2.5.1/include/SFML/Audio/Sound.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundBuffer.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundBufferRecorder.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundFileFactory.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundFileFactory.inl
Lib/SFML-2.5.1/include/SFML/Audio/SoundFileReader.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundFileWriter.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundRecorder.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundSource.hpp
Lib/SFML-2.5.1/include/SFML/Audio/SoundStream.hpp
Lib/SFML-2.5.1/include/SFML/Config.hpp
Lib/SFML-2.5.1/include/SFML/GpuPreference.hpp
Lib/SFML-2.5.1/include/SFML/Graphics.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/BlendMode.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/CircleShape.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Color.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/ConvexShape.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Drawable.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Export.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Font.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Glsl.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Glsl.inl
Lib/SFML-2.5.1/include/SFML/Graphics/Glyph.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Image.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/PrimitiveType.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Rect.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Rect.inl
Lib/SFML-2.5.1/include/SFML/Graphics/RectangleShape.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/RenderStates.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/RenderTarget.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/RenderTexture.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/RenderWindow.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Shader.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Shape.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Sprite.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Text.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Texture.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Transform.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Transformable.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/Vertex.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/VertexArray.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/VertexBuffer.hpp
Lib/SFML-2.5.1/include/SFML/Graphics/View.hpp
Lib/SFML-2.5.1/include/SFML/Main.hpp
Lib/SFML-2.5.1/include/SFML/Network.hpp
Lib/SFML-2.5.1/include/SFML/Network/Export.hpp
Lib/SFML-2.5.1/include/SFML/Network/Ftp.hpp
Lib/SFML-2.5.1/include/SFML/Network/Http.hpp
Lib/SFML-2.5.1/include/SFML/Network/IpAddress.hpp
Lib/SFML-2.5.1/include/SFML/Network/Packet.hpp
Lib/SFML-2.5.1/include/SFML/Network/Socket.hpp
Lib/SFML-2.5.1/include/SFML/Network/SocketHandle.hpp
Lib/SFML-2.5.1/include/SFML/Network/SocketSelector.hpp
Lib/SFML-2.5.1/include/SFML/Network/TcpListener.hpp
Lib/SFML-2.5.1/include/SFML/Network/TcpSocket.hpp
Lib/SFML-2.5.1/include/SFML/Network/UdpSocket.hpp
Lib/SFML-2.5.1/include/SFML/OpenGL.hpp
Lib/SFML-2.5.1/include/SFML/System.hpp
Lib/SFML-2.5.1/include/SFML/System/Clock.hpp
Lib/SFML-2.5.1/include/SFML/System/Err.hpp
Lib/SFML-2.5.1/include/SFML/System/Export.hpp
Lib/SFML-2.5.1/include/SFML/System/FileInputStream.hpp
Lib/SFML-2.5.1/include/SFML/System/InputStream.hpp
Lib/SFML-2.5.1/include/SFML/System/Lock.hpp
Lib/SFML-2.5.1/include/SFML/System/MemoryInputStream.hpp
Lib/SFML-2.5.1/include/SFML/System/Mutex.hpp
Lib/SFML-2.5.1/include/SFML/System/NativeActivity.hpp
Lib/SFML-2.5.1/include/SFML/System/NonCopyable.hpp
Lib/SFML-2.5.1/include/SFML/System/Sleep.hpp
Lib/SFML-2.5.1/include/SFML/System/String.hpp
Lib/SFML-2.5.1/include/SFML/System/String.inl
Lib/SFML-2.5.1/include/SFML/System/Thread.hpp
Lib/SFML-2.5.1/include/SFML/System/Thread.inl
Lib/SFML-2.5.1/include/SFML/System/ThreadLocal.hpp
Lib/SFML-2.5.1/include/SFML/System/ThreadLocalPtr.hpp
Lib/SFML-2.5.1/include/SFML/System/ThreadLocalPtr.inl
Lib/SFML-2.5.1/include/SFML/System/Time.hpp
Lib/SFML-2.5.1/include/SFML/System/Utf.hpp
Lib/SFML-2.5.1/include/SFML/System/Utf.inl
Lib/SFML-2.5.1/include/SFML/System/Vector2.hpp
Lib/SFML-2.5.1/include/SFML/System/Vector2.inl
Lib/SFML-2.5.1/include/SFML/System/Vector3.hpp
Lib/SFML-2.5.1/include/SFML/System/Vector3.inl
Lib/SFML-2.5.1/include/SFML/Window.hpp
Lib/SFML-2.5.1/include/SFML/Window/Clipboard.hpp
Lib/SFML-2.5.1/include/SFML/Window/Context.hpp
Lib/SFML-2.5.1/include/SFML/Window/ContextSettings.hpp
Lib/SFML-2.5.1/include/SFML/Window/Cursor.hpp
Lib/SFML-2.5.1/include/SFML/Window/Event.hpp
Lib/SFML-2.5.1/include/SFML/Window/Export.hpp
Lib/SFML-2.5.1/include/SFML/Window/GlResource.hpp
Lib/SFML-2.5.1/include/SFML/Window/Joystick.hpp
Lib/SFML-2.5.1/include/SFML/Window/Keyboard.hpp
Lib/SFML-2.5.1/include/SFML/Window/Mouse.hpp
Lib/SFML-2.5.1/include/SFML/Window/Sensor.hpp
Lib/SFML-2.5.1/include/SFML/Window/Touch.hpp
Lib/SFML-2.5.1/include/SFML/Window/VideoMode.hpp
Lib/SFML-2.5.1/include/SFML/Window/Window.hpp
Lib/SFML-2.5.1/include/SFML/Window/WindowHandle.hpp
Lib/SFML-2.5.1/include/SFML/Window/WindowStyle.hpp
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLConfig.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLConfigDependencies.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLConfigVersion.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-release.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-release.cmake
Lib/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets.cmake
Lib/SFML-2.5.1/lib/flac.lib
Lib/SFML-2.5.1/lib/freetype.lib
Lib/SFML-2.5.1/lib/ogg.lib
Lib/SFML-2.5.1/lib/openal32.lib
Lib/SFML-2.5.1/lib/sfml-audio-d.lib
Lib/SFML-2.5.1/lib/sfml-audio-d.pdb
Lib/SFML-2.5.1/lib/sfml-audio-s-d.lib
Lib/SFML-2.5.1/lib/sfml-audio-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-audio-s.lib
Lib/SFML-2.5.1/lib/sfml-audio.lib
Lib/SFML-2.5.1/lib/sfml-graphics-d.lib
Lib/SFML-2.5.1/lib/sfml-graphics-d.pdb
Lib/SFML-2.5.1/lib/sfml-graphics-s-d.lib
Lib/SFML-2.5.1/lib/sfml-graphics-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-graphics-s.lib
Lib/SFML-2.5.1/lib/sfml-graphics.lib
Lib/SFML-2.5.1/lib/sfml-main-d.lib
Lib/SFML-2.5.1/lib/sfml-main-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-main.lib
Lib/SFML-2.5.1/lib/sfml-network-d.lib
Lib/SFML-2.5.1/lib/sfml-network-d.pdb
Lib/SFML-2.5.1/lib/sfml-network-s-d.lib
Lib/SFML-2.5.1/lib/sfml-network-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-network-s.lib
Lib/SFML-2.5.1/lib/sfml-network.lib
Lib/SFML-2.5.1/lib/sfml-system-d.lib
Lib/SFML-2.5.1/lib/sfml-system-d.pdb
Lib/SFML-2.5.1/lib/sfml-system-s-d.lib
Lib/SFML-2.5.1/lib/sfml-system-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-system-s.lib
Lib/SFML-2.5.1/lib/sfml-system.lib
Lib/SFML-2.5.1/lib/sfml-window-d.lib
Lib/SFML-2.5.1/lib/sfml-window-d.pdb
Lib/SFML-2.5.1/lib/sfml-window-s-d.lib
Lib/SFML-2.5.1/lib/sfml-window-s-d.pdb
Lib/SFML-2.5.1/lib/sfml-window-s.lib
Lib/SFML-2.5.1/lib/sfml-window.lib
Lib/SFML-2.5.1/lib/vorbis.lib
Lib/SFML-2.5.1/lib/vorbisenc.lib
Lib/SFML-2.5.1/lib/vorbisfile.lib
*.sln
*.vcxproj
Serveur_Master/Serveur_Master.vcxproj.user
Serveur_Master/Serveur_Master.vcxproj.filters
Serveur_Master/Debug/vc142.pdb
Serveur_Master/Debug/vc142.idb
Serveur_Master/Debug/Serveur_Master.vcxproj.FileListAbsolute.txt
Serveur_Master/Debug/Serveur_Master.tlog/Serveur_Master.lastbuildstate
Serveur_Master/Debug/Serveur_Master.tlog/link.write.1.tlog
Serveur_Master/Debug/Serveur_Master.tlog/link.read.1.tlog
Serveur_Master/Debug/Serveur_Master.tlog/link.command.1.tlog
Serveur_Master/Debug/Serveur_Master.tlog/CL.write.1.tlog
Serveur_Master/Debug/Serveur_Master.tlog/CL.read.1.tlog
Serveur_Master/Debug/Serveur_Master.tlog/CL.command.1.tlog
Serveur_Master/Debug/Serveur_Master.log
Serveur_Master/Debug/Serveur_Master.Build.CppClean.log
Serveur_Master/Debug/main.obj
Serveur_Master/Debug/ComServMast.obj
Lib/Sqlite3/shell.c
Lib/Sqlite3/sqlite3.c
Lib/Sqlite3/sqlite3.dll
Lib/Sqlite3/sqlite3.exp
Lib/Sqlite3/sqlite3.h
Lib/Sqlite3/sqlite3.lib
Lib/Sqlite3/sqlite3.obj
Lib/Sqlite3/sqlite3ext.h
Serveur_User/Debug/ComServUser.obj
Serveur_User/Debug/enchant.obj
Serveur_User/Debug/GestionBdd.obj
Serveur_User/Debug/GestPersoGen.obj
Serveur_User/Debug/item.obj
Serveur_User/Debug/main.obj
Serveur_User/Debug/ObjectFile.obj
Serveur_User/Debug/perso.obj
Serveur_User/Debug/PersoJson.obj
Serveur_User/Debug/sac.obj
Serveur_User/Debug/Serveur_User.Build.CppClean.log
Serveur_User/Debug/Serveur_User.log
Serveur_User/Debug/Serveur_User.tlog/CL.command.1.tlog
Serveur_User/Debug/Serveur_User.tlog/CL.read.1.tlog
Serveur_User/Debug/Serveur_User.tlog/CL.write.1.tlog
Serveur_User/Debug/Serveur_User.tlog/link.command.1.tlog
Serveur_User/Debug/Serveur_User.tlog/link.read.1.tlog
Serveur_User/Debug/Serveur_User.tlog/link.write.1.tlog
Serveur_User/Debug/Serveur_User.tlog/Serveur_User.lastbuildstate
Serveur_User/Debug/Serveur_User.vcxproj.FileListAbsolute.txt
Serveur_User/Debug/Stat.obj
Serveur_User/Debug/stuff.obj
Serveur_User/Debug/vc142.idb
Serveur_User/Debug/vc142.pdb
Serveur_User/Serveur_User.vcxproj.filters
Serveur_User/Serveur_User.vcxproj.user
Client/Client.vcxproj.filters
Client/Client.vcxproj.user
